h1 {
  text-align: center;
  margin-top: 0;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.heading {
  width: 100%;
  background-color: rgb(0, 136, 79);
  color: antiquewhite;
  height: 80px;
  position: sticky;
  top: 0px;
  z-index: 1000; 
  font-variant: small-caps;
  display: flex;
  align-items: center; 
  justify-content: center;
  transition: border-radius 0.9s ease
}
.heading.scrolled-past {
  border-radius: 40px;
  width: 60%;
  margin: auto;
  top:6px;
  opacity: 80%;
  transition: width 0.9s ease-out, top 0.9s ease-out, opacity 0.9s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contents {
  margin-left: 20px;
  margin-right: 20px;
}

section {
  margin-bottom: 60px;
}

h2 {
  text-align: left;
  color: #333;
}

p {
  margin-bottom: 20px;
  font-size: 1.1em;
  color: #666;
  line-height: 1.5;
}

.full-width {
  width: 100%;
}

.two-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chart-container {
  width: 48%; 
  margin-bottom: 60px;
}

canvas {
  max-width: 100%;
  height: auto !important;
  max-height: 400px;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.introduction {
  background-color: rgb(0, 136, 79);
  color: antiquewhite;
  border-radius: 10px;
  padding: 20px; 
  max-width: 95%; 
  margin-left: 10px;

  h2 {
    color: rgb(236, 235, 235);
  }
  p {
    color: aliceblue;
  }

}