h1 {
  text-align: center;
  margin-top: 0;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.heading {
  width: 100%;
  background-color: rgb(0, 136, 79);
  color: antiquewhite;
  height: 80px;
  position: sticky;
  top: 3px;
  z-index: 1000; 
  font-variant: small-caps;
  display: flex;
  align-items: center; 
  justify-content: center;
  transition: width 0.2s linear ease-in-out;
}
.heading.scrolled-past {
  border-radius: 40px;
  width: 60%;
  margin: auto;
  opacity: 80%;
  transition: width 0.9s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
}

.introduction {
  background-color: rgb(0, 136, 79);
  color: antiquewhite;
  padding: 20px;
  border-radius: 10px;
  max-width: 90rem;
  h2 {
    color: rgb(236, 235, 235);
  }
  p {
    color: aliceblue;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contents {
  margin-left: 20px;
}

section {
  margin-bottom: 60px;
}

h2 {
  text-align: left;
  color: #333;
}

p {
  margin-bottom: 20px;
  font-size: 1.1em;
  color: #666;
  line-height: 1.5;
}

.full-width {
  width: 100%;
}

.two-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chart-container {
  width: 48%; 
  margin-bottom: 60px;
}

canvas {
  max-width: 100%;
  height: auto !important;
  max-height: 400px;
  margin: 0 auto;
  display: block;
  width: 100%;
}
